<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"
    ></script>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous"
/>
<title>CRAWLER</title>
</head>
<body>


<div class="jumbotron jumbotron-fluid mt-4 px-5" id="p-form">
    <form action="http://127.0.0.1:8000/contact/success" method="post">
        {% csrf_token %}
        <div class="form-group mt-2  ">
            <label for="exampleFormControlInput1" class="mx-auto">Name</label>
            <input
                type="name"
                name="name"
                class="form-control"
                id="name"
                placeholder="Jone Doe"
                required
            />
        </div>
        <div class="form-group mt-2">
            <label for="exampleFormControlInput1" class="mb-2 "
                >Email address</label
            >
            <input
                type="email"
                name="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="name@example.com"
                required
            />
        </div>
        <div class="form-group mt-2">
            <label for="exampleFormControlTextarea1" class="mb-2"
                >Suggestions</label
            >
            <textarea
                class="form-control"
                name="suggestion"
                rows="3"
                placeholder=" . . . . "
                required
            ></textarea>
        </div>
        <button type="submit" class="btn btn-success mb-2 mt-3">Submit</button>
    </form>
</div>

    
</body>
</html>